/*================================
Template Name: Music Artist Booking
Author: Beno darry
Author website: http://codegama.com/
Version: 1.0
================================== */

/*------------- General -------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap');
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/*------------- Font -------------*/
/*------------- Body -------------*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  overflow-x: hidden;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #415d6a;
  font-size: 12px;
}

.gutter-5 > [class^="col-"], .gutter-5 > [class*=" col-"], .gutter-5 [class*='col-'], .gutter-5 [class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
a,
input,
textarea {
  outline: none !important;
  box-shadow: none;
  text-decoration: none !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.height-zero {
  height:unset!important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-right {
  margin-right: 0;
}
.no-margin-auto {
  margin: unset !important;
}
.sm-padding {
  padding: 6em 0;
}
.top-padding {
  padding-top: 6em;
}
.space-lg {
  height: 2.5em;
}.spacer-50 {
  height: 4em;
}
.spacer-30 {
    height: 3em;
}
.sm-btn {
  max-width: 50%!important;
  margin: 0 auto;
  text-transform: capitalize!important;
}
.content-spacer {
  height:100px;
}
.bg-special-theme {
  background-color: #333333;
}
img {
  max-width: 100%;
  width: auto;
}
.title-main {
  font-size: 2em;
  font-weight: 600;
  color: #415d6a;
  line-height: 1.5em;
  margin-top: 0;
  margin: auto;
  margin-bottom: 0.5em;
}
.title-main-desc {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0px auto;
  max-width: 700px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  outline: 0;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 1em 2em;
  text-transform: uppercase;
  border: 1px solid #76b51b;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.btn.btn-primary {
  border-color: #673ab7;
  color: #ffffff !important;
  background-color: #673ab7;
  pointer-events: all; 
  cursor: pointer;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848;
}

/*NavBar*/
.navbar-icon {
    margin: 8px 0px;
    width: 30px;
    height: 2px;
    background-color: #673ab7;
    display: block;
}
.nav-color {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(74, 69, 100, 0.1);
  top: 0;
  border: 0 !important;
}
.header .navbar-main {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header .navbar-brand{
  max-width: 6em;
  padding-top: 0;
}
.header .navbar-main li {
  font-size: 1.3em;
}
.header .nav-item .nav-link {
  color: #333333;
  font-weight: 700;
  padding: 1em 1em;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}
.header .nav-item .nav-link:hover {
  color: #673ab7;
}
.header .nav-item .nav-link.active{
  color: #673ab7;
}
.header .head-social-icon a{
  color: #673ab7;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
}


/* 1.1 - Banner */
.banner {
  overflow: hidden;
  position: relative;
}
.banner .owl-carousel .owl-item img {
  height: 100vh;
  object-fit: cover;
}
.banner .wrap-caption {
  position: absolute;
  top: 50%;
  transform: translate(50%,-50%);
  left: -4%;
}
.banner .wrap-caption p {
  font-size: 1.8em;
  color: #ffffff;
  line-height: 1;
  font-weight: 500;
}
.banner .wrap-caption h1 {
  font-size: 6em;
  color: #ffffff;
  line-height: 1;
  font-weight: 600;
  margin: 0.2em 0;
}
.banner .wrap-caption h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 1;
  font-weight: 500;
}
.banner .owl-theme .owl-nav .owl-prev {
  left: 0;
  position: absolute;
  top: 38%;
  color: #ffffff;
  font-size: 4em;
}
.banner .owl-theme .owl-nav .owl-prev:focus,
.banner .owl-theme .owl-nav .owl-prev:active  {
  outline: none!important;
  box-shadow: unset!important;
}

.owl-theme .owl-nav [class*=owl-]:hover{
  background: #673ab7!important;
  width: 40px;
}
.banner .owl-theme .owl-nav .owl-next {
  right: 0;
  position: absolute;
  top: 38%;
  color: #ffffff;
  font-size: 4em;
}
.banner .owl-theme .owl-nav .owl-next:focus,
.banner .owl-theme .owl-nav .owl-next:active {
  outline: none!important;
  box-shadow: unset!important;
}

/* 1.2 - Bio */

.bio h1 {
  font-size: 4em;
  color: #333333;
  line-height: 1.2;
  font-weight: 600;
  margin: 0.2em 0;
}
.bio p {
  font-size: 1.5em;
  color: #666666; 
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: all-ease-in-out 4s;
}
.bio p:hover {
  overflow: auto;
  text-overflow: unset;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}
.bio .team-display {
  position: relative;
  text-align: center;
  height: 100%;
  -webkit-box-shadow: 0 4px 10px rgba(53,60,72,.1);
  box-shadow: 0 4px 10px rgba(53,60,72,.1);
  padding-bottom: 2em;
}
.bio .head-social-icon a{
  color: #673ab7;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.bio .team-display .team-body .title{
  margin-top: 0;
  margin-bottom: 1em;
  color: #ffffff;
  background-color: #673ab7;
  font-size: 1.7em;
  font-weight: 600;
  padding: 0.2em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all-ease-in-out 4s;
}
.bio .team-display .team-body .title:hover {
  overflow: auto;
  text-overflow: unset;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}
.bio .team-display .team-body .position {
  color: #673ab7;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
}
.bio .team-display .team-body .position:before, .bio .team-display .team-body .position:after {
  content: ' - ';
}

/* 1.3 - Disco*/
.disco.bg-cover-fixed {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.disco.bg-cover-fixed:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}
.disco h2 {
  font-size: 2.4em;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 0;
  position: relative;
  color: #333333;
  font-weight: 700;
}
.disco p {
  font-size: 1.5em;
  color: #ffffff; 
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 1em;
}
.disco .audio-wrap {
  height: 100px;
}

/* 1.4 - Shows*/

.shows .show-header h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 5px;
  position: relative;
  color: #333333;
  font-weight: 900;
  text-align: center;
}
.shows .show-header p {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #666666;
  font-size: 1.5em;
  text-align: center;
}
.shows .event-lists .event-box {
  position: relative;
  background-color: #151414;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.shows .event-lists .event-box .meta-date {
  background-color: #FF0000;
  text-align: center;
  margin-right: 1em;
  color: #ffffff;
  padding: 25px 15px;
  width: 135px;
}
.shows .event-lists .event-box .meta-date .date{
  font-size: 4em;
  line-height: .8;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  font-family: "Merriweather", serif;
}
.shows .event-lists .event-box .meta-date .month{
  text-transform: uppercase;
  display: block;
  font-size: 1.4em;
  line-height: 1.5;
  font-weight: 600;
}
.shows .event-lists .event-box:nth-child(2n) .meta-date {
  background-color: #151414;
}
.shows .event-lists .event-box:nth-child(2n) {
  background-color: #333333;
}
.shows .event-box .show-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 2em;
}
.shows .event-box .show-content .show-info a {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
}
.shows .event-box .show-content .show-info .meta-place .location {
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: 500;
  margin-right: 2em;
}
.shows .event-box .show-content .show-info .meta-place .time {
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: 500;
}
.shows .event-box .show-content .events-detail p {
  text-align: center;
  font-size: 1.1em;
  color: #ffffff;
  padding: 0.2em 0;
}

/* 1.5 - testimonial*/
.testimonial.bg-cover-fixed {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.testimonial.bg-cover-fixed:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.testimonial .title {
  font-size: 5em;
  color: #673ab7;
  font-weight: 600;
}

.testimonial .desc {
  font-size: 1.8em;
  line-height: 1.1;
}
.testimonial .sub-desc {
  font-size: 1.1em;
  margin-bottom: 1em;
}

/* 1.6 - Media*/

.media .media-header h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 5px;
  position: relative;
  color: #333333;
  font-weight: 900;
  text-align: center;
}
.media .media-header p {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #666666;
  font-size: 1.5em;
  text-align: center;
}
.media .video-box {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.media .video-box a, .media .video-box a img {
  overflow: hidden;
  display: block;
  max-width: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  cursor: pointer;
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
}

.media .video-box a {
  height:18em;
  object-fit: cover;
}
.media .video-box a:hover img, .media .video-box a img:hover img {
    -webkit-transform: scale(1.05, 1.07);
    -ms-transform: scale(1.05, 1.07);
    transform: scale(1.05, 1.07);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.media .video-box a:hover .project-info, .media .video-box a img:hover .project-info {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.media .video-box a:hover .project-icon, .media .video-box a img:hover .project-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.media .video-box .project-info {
  position: absolute;
  left: 0px;
  top: 0;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}
.media .video-box .project-info .project-icon {
  position: relative;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  width: 100%;
  color: #ffffff;
  font-size: 2em;
}
.video-box .project-info .project-icon .fa-play-circle {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.media .video-box .title {
  margin-top: 1.4em;
  margin-bottom: 5px;
  color: #FF0000;
  font-size: 1.8em;
  line-height: 1.5;
  font-weight: 600;
}

.media .video-box .album-name {
  margin-bottom: 1em;
  color: #666666;
  font-size: 1.25em;
  text-align: center;
}

/* 1.6 - Gallery*/

.gallery .gallery-header h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 5px;
  position: relative;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
}
.gallery .gallery-header p {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
.gallery .video-box {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.gallery .video-box a {
  height:18em;
  object-fit: cover;
}
.gallery .video-box a, .gallery .video-box a img {
  overflow: hidden;
  display: block;
  max-width: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  cursor: pointer;
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
}
.gallery .video-box a:hover img, .gallery .video-box a img:hover img {
    -webkit-transform: scale(1.05, 1.07);
    -ms-transform: scale(1.05, 1.07);
    transform: scale(1.05, 1.07);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.gallery .video-box a:hover .project-info, .gallery .video-bo a img:hover .project-info {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.gallery .video-box a:hover .project-icon, .gallery .video-box a img:hover .project-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gallery .video-box .project-info {
  position: absolute;
  left: 0px;
  top: 0;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}
.gallery .video-box .project-info .project-icon {
  position: relative;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  width: 100%;
  color: #ffffff;
  font-size: 2em;
}
.gallery .video-box .project-info .project-icon .fa-play-circle {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

/* 1.7 - News*/

.news .news-header h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 5px;
  position: relative;
  color: #333333;
  font-weight: 900;
  text-align: center;
}
.news .news-header p {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #b3b3b3;
  font-size: 1.5em;
  text-align: center;
}
.news .news-header .sub-header {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #666666;
  font-size: 1.5em;
  text-align: center;
}
.news .news-box {
  position: relative;
  width: 100%;
  padding-bottom: 3em;
  text-align: center;
  background: #0a0a0a;
  height: 100%;
}
.news .news-box a, .news .news-box a img {
  overflow: hidden;
  display: block;
  max-width: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  cursor: pointer;
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
}
.news .news-box a {
  height:18em;
  object-fit: cover;
}
.news .news-box a:hover img, .news .news-box a img:hover img {
    -webkit-transform: scale(1.05, 1.07);
    -ms-transform: scale(1.05, 1.07);
    transform: scale(1.05, 1.07);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.news .news-box a:hover .project-info, .news .news-box a img:hover .project-info {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.news .news-box a:hover .project-icon, .news .news-box a img:hover .project-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.news .news-box .project-info {
  position: absolute;
  left: 0px;
  top: 0;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}
.news .news-box .project-info .project-icon {
  position: relative;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  width: 100%;
  color: #ffffff;
  font-size: 2em;
}
.news-box .project-info .project-icon .fa-play-circle {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.news .news-box .title {
  margin-top: 1.4em;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 700;
}

.news .news-box .meta-date .date{
  font-size: 1.1em;
  line-height: .8;
  font-weight: 600;
  margin-top: 10px;
  padding-bottom: 2em;
  display: block;
  font-family: "Merriweather", serif;
  color: #b3b3b3;
}
.news .news-box .meta-date .date:before {
  content: '- ';
}
.news .news-box p {
  padding-bottom: 1em;
  color: #666666;
  font-size: 1.5em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: all-ease-in-out 4s;
}
.news .news-box p:hover {
  overflow: auto;
  text-overflow: unset;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

/* 1.8 - Contact */
.contact-us .content-spacer {
  height:100px;
}
.contact-us .header {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 0;
  padding-bottom: 5px;
  position: relative;
  color: #333333;
  font-weight: 700;
}
.contact-us .subheader {
  margin-top: -1.3em;
  color: #666666;
  font-size: 1.6em;
}

.contact-us .form-control {
    height: 45px;
    background-color: #ffffff;
    border: 1px solid rgba(102, 102, 102, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}
.contact-us .bg-theme {
  border-color: #673ab7;
  color: #ffffff !important;
  background-color: #673ab7;
}

.contact-us .contact-info .header{
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 1.5em;
  margin-top: 0;
  padding-bottom: 5px;
  position: relative;
  font-weight: 600;
}
.contact-us .contact-info .sub-header {
  margin-top: -1.3em;
  font-size: 1.4em;
  font-weight: 500;
}
.contact-us .contact-info .contact-icon .info-icon {
  float:left;
  font-size: 1.3em;
}
.contact-us .contact-info .contact-icon .body-text {
  position: relative;
}
.contact-us .contact-info .contact-icon .body-text p {
  font-size: 1.3em; 
  margin-left: 3em;
}

/* 1.9 - Footer */
.footer .copyrights {
  padding: 1em 0;
  font-size: 14px;
  background-color: #111013;
}
.footer .sosmed-icon a:hover {
  background-color: #673ab7;
}
.footer .sosmed-icon a {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  font-size: 1.7em;
  text-align: center;
}
.footer .sosmed-icon a i {
  font-size: 0.8em;
}
.footer .copyrights-text {
  margin-bottom: 0;
  padding: 1em 0;
}
.footer .copyrights-text span {
  color: #673ab7!important;
}