/*================================
Template Name: Music Artist Booking
Author: Beno darry
Author website: http://codegama.com/
Version: 1.0
================================== */

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .btn {
        font-size: 1em;
    }
    .resp-left {
        float:left!important;
    }
    .banner .owl-carousel .owl-item img {
      height: 50vh;
    }
    .banner .wrap-caption {
        left: -10%;
    }
    .bio .team-display {
        margin-bottom: 2em;
    }
    .mobilePrestitial {
        position: unset;
    }
    .shows .event-lists .event-box .meta-date .date {
        font-size: 3em
    }
    .shows .event-lists .event-box .meta-date .month {
        font-size: 1.2em;
    }
    .shows .event-box .show-content .show-info a {
        font-size: 0.8em;
    }
    .shows .event-box .show-content .show-info .meta-place .location {
        font-size: 1.1em;
        margin-right: 1em;
    }
    .shows .event-box .show-content {
        margin-right: 1em;
        margin-left: 0;
    }
    .shows .event-box .show-content .show-info .meta-place .time {
        font-size: 1.1em;
    }
    .sm-btn {
        max-width: 60%!important;
    }
    .news .news-box p {
        font-size: 1.3em;
    }
    .news .news-box .title {
        font-size: 1.3em;
    }
    .resp-no-padding {
        padding:0;
    }
    .contact-us .content-spacer {
        height: 50px;
    }
    .media .video-box a {
        height: 11em;
        object-fit: cover;
    }
    .gallery .video-box a {
        height: 11em;
        object-fit: cover;
    }
    .news .news-box a {
        height: 11em;
        object-fit: cover;
    }

}
@media (max-width: 767.98px) {
    .banner .wrap-caption {
        left:-28%;
    }
    .navbar-icon {
        margin: 6px 0px;
        height: 3px;
    }
    .banner .wrap-caption p {
        font-size: 1.5em;
    }
    .banner .wrap-caption h1 {
        font-size: 3em;
    }
    .banner .wrap-caption h2 {
        font-size: 1.8em;
        max-width: 13em;
    }
    .bio h1 {
        font-size: 3em;
    }
    .bio p {
        font-size: 1.3em
    }
    .shows .event-lists .event-box .meta-date  {
        margin-right: 0;
        padding: 65px 5px;
        width: 100px;
    }
    .shows .event-box .show-content {
        display: block;
        margin-left: 1em;
        margin-right: 2em;
    }
    .shows .events-detail {
        margin-top: 20px;
    }
    .shows .event-box .show-content .show-info .meta-place .location {
        display: block;
        font-size: 1.3em;
        margin-right: 0;
    }
    .shows .event-box .show-content .events-detail p {
        text-align: left;
    }
    .media .video-box {
        margin-bottom: 25px;
    }
    .news .news-box {
        margin-bottom: 2em;
    }
    .footer {
        text-align: center;
    }
    .resp-left-social {
        float:left!important;
        margin: 0 6em;
    }
    .disco.bg-cover-fixed:before {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .disco h2 {
        color: #673ab7!important;
    }
    .nav-color {
        position:unset!important;    }
    .media .video-box a {
        height: 18em;
        object-fit: cover;
    }
    .gallery .video-box a {
        height: 18em;
        object-fit: cover;
    }
    .news .news-box a {
        height: 18em;
        object-fit: cover;
    }
}

@media (max-width: 575.98px) {}